%nav.localization
  %b Início

%br/

%div.section-wall
  %div.left
    %div
      = link_to 'Área geral', topicos_path
      %hr/

    %div
      Local [único] para discussão de assuntos diversos.

  %div.right
    = "#{@topicos.count} tópicos criados." 
    %br/
    = "#{@topicos.count + @posts.count} mensagens enviadas."

%br/

%h1#nz nullZone

