%nav.localization
  %b
    = link_to 'Início', main_path

%br/
%div.section-block
  %div
    %div
      %h2
        = link_to 'Área geral', topicos_path
      %br/
      Área para discussão de assuntos
      diversos.
    %div.info
      = "#{@topicos.count} tópicos criados." 
      %br/
      = "#{@topicos.count + @posts.count} mensagens enviadas."
