%h1 nullZone

%table{ border: '1' }
  %tr
    %th ID
    %th Nome
    %th Senha
    %th =====
    %th =====
  
  - @usuarios.each do |u|
    %tr
      %td= u.id
      %td= link_to u.nome, usuario_path(u)
      %td= u.senha
      %td= link_to 'Editar', edit_usuario_path(u)
      %td= link_to 'Remover', usuario_path(u),
        method: :delete,
        data: { confirm:  "Remover '#{u.nome}' ? " }

%br/
= link_to 'Área geral', topicos_path
%br/
= link_to 'Cadastro', new_usuario_path
