%h1.center-header Entrar

%div.form-box
  = form_with scope: :session, url: login_path do |form|
    %div
      = form.label :login, 'Usuário'
      = form.text_field :login

    %div
      = form.label :password, 'Senha'
      = form.password_field :password

    %div.bottom
      = form.button data: { disable_with: 'Entrando...' } do
        %i.fas.fa-sign-in-alt
        Entrar
