%div.localization.box-shadow
  = link_to 'Início', sections_path
  >
  %b Denúncias

%h2.text-white.mb-4
  %b Denúncias

- if @complaints.any?
  %div.row
    - counter = 0
    - @complaints.each do |complaint|
      - counter += 1

      %div.col-12.col-sm-6.col-md-4.col-lg-3.mb-4
        %div.complaint-box.text-white.box-shadow
          %header.d-flex.align-items-center.justify-content-between.px-2.py-1
            %i.fas.fa-flag
            %b
              = "##{counter}"

          %div.content.p-2
            = "#{complaint.user.login} denunciou #{complaint.complainee}"
            - if complaint.complainable
              - if complaint.complainable_type == 'Topic'
                - topic = complaint.complainable
                - back_anchor = 'op-post'
                - page_number = 1
              - else
                - topic = complaint.complainable.topic
                - back_anchor = "#{complaint.complainable.id}"
                - page_number = find_post_page(complaint.complainable)

          %div.bottom.p-2
            - if complaint.complainable
              %b
                = link_to 'Checar', topic_path(topic, anchor: back_anchor, page: page_number),
                  class: 'text-underline-hover'
            - else
              %b (Mensagem deletada)

            %br/
            %b
              = link_to 'Remover', complaint, method: :delete, class: 'text-underline-hover',
                data: { confirm: 'Remover denúncia?' }

- else
  %p.text-center.text-white.h4
    Não há denúncias
