%div.form-box
  = form_with model: model, local: true do |form|
    %div
      = form.label :title, 'Título'
      = form.text_field :title

      - if @topic.errors.messages[:title].any?
        %div.error
          = @topic.errors.full_messages_for(:title).first

    %div
      = form.label :message, 'Mensagem'
      = form.text_area :message, rows: 6, cols: 60

      - if @topic.errors.messages[:message].any?
        %div.error
          = @topic.errors.full_messages_for(:message).first

    %div.bottom
      = form.button do
        %i.fas.fa-check
        Finalizar

      %span

      = link_to back_path do
        %i.fas.fa-times
        Cancelar
