- controller = :topics
- case thread_type
  - when 'single'
    - action = :show
    - items_amount = source.posts.count + 1
    - id = source.id
  - when 'list'
    - action = :index
    - items_amount = source.topics.count
    - id = source.id
  - when 'search'
    - action = :index
    - controller = :search
    - items_amount = source.count
    - id = nil

- items_per_page = 10
- pages_amount = (items_amount.to_f / items_per_page).ceil

- if pages_amount > 1
  %div.page-buttons
    -# 'Previous page' button
    - if current_page > 1
      = link_to '&#9666;'.html_safe, { id: id, action: action, controller: controller, page: current_page-1, query: params[:query] }
      %span

    -# Buttons from first to current
    - surrounding_pages = 2
    - first_and_last_page_offset = 5

    - if current_page < 1 + first_and_last_page_offset
      - (1..current_page).each do |i|
        - btn_class = nil
        - if i == current_page
          - btn_class = 'selected-page'

        = link_to i, { id: id, action: action, controller: controller, page: i, query: params[:query] }, class: btn_class
        - if !btn_class || i != pages_amount
          %span

    - else
      = link_to 1, { id: id, action: action, controller: controller, page: 1, query: params[:query] }
      %span

      = link_to 2, { id: id, action: action, controller: controller, page: 2, query: params[:query] }
      %span

      -# 'Go-to-some-page' button
      %div.goto-page
        %span
          = '...'

        %div.box
          %div.header
            Ir para a página...

          %div.content
            %form
              %input{ type: 'text', name: 'page', value: "#{current_page - 3}" }
              %button Ir

      %span

      - ((current_page - surrounding_pages)..current_page).each do |i|
        - btn_class = nil
        - if i == current_page
          - btn_class = 'selected-page'

        = link_to i, { id: id, action: action, controller: controller, page: i, query: params[:query] }, class: btn_class
        - if !btn_class || i != pages_amount
          %span


    -# Buttons from current + 1 to last
    - if current_page > pages_amount - first_and_last_page_offset
      - ((current_page + 1)..pages_amount).each do |i|
        - btn_class = nil
        - if i == current_page
          - btn_class = 'selected-page'

        = link_to i, { id: id, action: action, controller: controller, page: i, query: params[:query] }, class: btn_class
        - if !btn_class || i != pages_amount
          %span

    - else
      - ((current_page + 1)..(current_page + surrounding_pages)).each do |i|
        - btn_class = nil
        - if i == current_page
          - btn_class = 'selected-page'

        = link_to i, { id: id, action: action, controller: controller, page: i, query: params[:query] }, class: btn_class
        - if !btn_class || i != pages_amount
          %span

      -# 'Go-to-some-page' button
      %div.goto-page
        %span
          = '...'

        %div.box
          %div.header
            Ir para a página...

          %div.content
            %form
              %input{ type: 'text', name: 'page', value: "#{current_page + 3}" }
              %button Ir

      %span

      = link_to pages_amount - 1, { id: id, action: action, controller: controller, page: pages_amount - 1, query: params[:query] }
      %span

      = link_to pages_amount, { id: id, action: action, controller: controller, page: pages_amount, query: params[:query] }
      %span

    -# 'Next page' button
    - if current_page < pages_amount
      = link_to '&#9656;'.html_safe, { id: id, action: action, controller: controller, page: current_page+1, query: params[:query] }
