- controller = :topics
- case thread_type
- when 'single'
  - action = :show
  - items_amount = source.posts.count + 1
  - id = source.id
- when 'list'
  - action = :index
  - items_amount = source.topics.count
  - id = nil
- when 'search'
  - action = :index
  - controller = :search
  - items_amount = source.count
  - id = nil

- items_per_page = 10
- pages_amount = (items_amount.to_f / items_per_page).ceil

- cleaned_params = { page: params[:page], query: params[:query], section: params[:section], ws: params[:ws] }

- if pages_amount > 1
  %div.page-buttons.border-rounded.box-shadow.clear-margin.inline-flex-row
    -# 'Previous page' button
    - if current_page > 1
      = link_to '&#9666;'.html_safe, cleaned_params.merge!({ id: id, action: action, controller: controller, page: current_page - 1})
      %span.clear-margin.clear-padding

    -# Buttons from first to current
    - surrounding_pages = 2
    - first_and_last_page_offset = 5

    - if current_page < 1 + first_and_last_page_offset
      - (1..current_page).each do |i|
        - btn_class = nil
        - if i == current_page
          - btn_class = 'selected-page'

        = link_to i, cleaned_params.merge!({ id: id, action: action, controller: controller, page: i }), class: btn_class
        - if !btn_class || i != pages_amount
          %span.clear-margin.clear-padding

    - else
      = link_to 1, cleaned_params.merge!({ id: id, action: action, controller: controller, page: 1 })
      %span.clear-margin.clear-padding

      = link_to 1, cleaned_params.merge!({ id: id, action: action, controller: controller, page: 2 })
      %span.clear-margin.clear-padding

      -# 'Go-to-some-page' button
      %div.goto-page
        %span.clear-margin.clear-padding.inline-block
          = '...'

        %div.box.bold.border-rounded.pos-left
          %div.header.color-white
            Ir para a página...

          %div.content
            %form
              - an_class = 'border-rounded box-shadow clear-border'
              %input{ class: an_class, type: 'text', name: 'page', value: "#{current_page + 3}" }
              %button.btn-like-bg-white{ class: an_class } Ir

      %span.clear-margin.clear-padding

      - ((current_page - surrounding_pages)..current_page).each do |i|
        - btn_class = nil
        - if i == current_page
          - btn_class = 'selected-page'
        
        = link_to i, cleaned_params.merge!({ id: id, action: action, controller: controller, page: i }), class: btn_class
        - if !btn_class || i != pages_amount
          %span.clear-margin.clear-padding

    -# Buttons from current + 1 to last
    - if current_page > pages_amount - first_and_last_page_offset
      - ((current_page + 1)..pages_amount).each do |i|
        - btn_class = nil
        - if i == current_page
          - btn_class = 'selected-page'

        = link_to i, cleaned_params.merge!({ id: id, action: action, controller: controller, page: i }), class: btn_class
        - if !btn_class || i != pages_amount
          %span.clear-margin.clear-padding

    - else
      - ((current_page + 1)..(current_page + surrounding_pages)).each do |i|
        - btn_class = nil
        - if i == current_page
          - btn_class = 'selected-page'

        = link_to i, cleaned_params.merge!({ id: id, action: action, controller: controller, page: i }), class: btn_class
        - if !btn_class || i != pages_amount
          %span.clear-margin.clear-padding

      -# 'Go-to-some-page' button
      %div.goto-page
        %span.clear-margin.clear-padding.inline-block
          = '...'

        %div.box.bold.border-rounded.pos-left
          %div.header.color-white
            Ir para a página...

          %div.content
            %form
              - an_class = 'border-rounded box-shadow clear-border'
              %input{ class: an_class, type: 'text', name: 'page', value: "#{current_page + 3}" }
              %button.btn-like-bg-white{ class: an_class } Ir

      %span.clear-margin.clear-padding

      = link_to 1, cleaned_params.merge!({ id: id, action: action, controller: controller, page: pages_amount - 1 })
      %span.clear-margin.clear-padding

      = link_to 1, cleaned_params.merge!({ id: id, action: action, controller: controller, page: pages_amount })
      %span.clear-margin.clear-padding

    -# 'Next page' button
    - if current_page < pages_amount
      = link_to '&#9656;'.html_safe, cleaned_params.merge!({ id: id, action: action, controller: controller, page: current_page + 1 })
