- if @topics.any?
  - page_number = 1
  - if params[:page]
    - page_number = params[:page].to_i

  - thread_type = 'list'
  - source = @section
  - if params[:query]
    - thread_type = 'search'
    - source = @topics

  %div.before-stack
    = render 'topics/page_buttons', current_page: page_number, thread_type: thread_type, source: source

  - items_per_page = 10
  - begin_index = (page_number-1) * items_per_page
  - topics_array = @topics.slice(begin_index, items_per_page)

  %div.thread-stack
    %div

    - count = 0;
    - topics_array.each do |topic|
      - if !topic.pinned? && count == 1
        - count = 2
        %div.separator

      - if topic.pinned? && count == 0
        - count = 1

      %div.thread
        %div.left
          %div
            - if topic.user
              %a{ href: user_path(topic.user) }
                = set_avatar(topic.user)
            - else
              = set_avatar(topic.user)

          %div
            %div
              = link_to topic.title, topic_path(topic)
              
              %b
                - if topic.user
                  = link_to topic.user.login, user_path(topic.user)
                - else
                  Perfil excluído     

              - posts_per_page = 10
              - num_posts = topic.posts.count + 1
              - page_amount = (num_posts.to_f / posts_per_page).ceil

              %div.bottom
                %div.left
                  = format_date(topic.created_at)

                  - if page_amount > 1
                    %div
                      - if page_amount > 6
                        - (1..3).each do |i|
                          = link_to i, topic_path(topic, page: i)

                        %b= '. . .'

                        - ((page_amount-1)..page_amount).each do |i|
                          = link_to i, topic_path(topic, page: i)

                      - else
                        - (1..page_amount).each do |i|
                          = link_to i, topic_path(topic, page: i)

                %div.right
                  - if current_user && current_user.login == 'ADM'
                    - if topic.pinned?
                      = form_with model: topic, local: true do |form|
                        = form.hidden_field :pinned, value: false

                        = form.button do
                          %i.fas.fa-thumbtack
                          Desafixar tópico

                    - else
                      = form_with model: topic, local: true do |form|
                        = form.hidden_field :pinned, value: true

                        = form.button do
                          %i.fas.fa-thumbtack
                          Fixar tópico

                  - else
                    - if topic.pinned?
                      %i.fas.fa-thumbtack

        %div.middle
          %i.fas.fa-comments
          %span
            = topic.posts.count
            respostas

        %div.right
          %div
            - post = nil
            - num = 1 + topic.posts.count / 10
            - if topic.posts.any?
              - user = topic.posts.last.user
              - date = topic.posts.last.created_at
              - post = topic.posts.last
            - else
              - user = topic.user
              - date = topic.created_at

            - if user
              - text = user.login
            - else
              - text = 'Perfil excluído'

            Última mensagem:
            %br/
            = format_date(date, true)
            %br/
            Por:
            %b
              = link_to text, topic_path(topic, page: num, anchor: "#{topic.posts.count}" )

%div.after-stack
  - if !@topics.any?
    %p
      - if params[:query] && params[:query] != nil
        Nenhum tópico encontrado
      - else
        Nenhum tópico criado

  - else
    = render 'topics/page_buttons', current_page: page_number, thread_type: thread_type, source: source

  - if !params[:query]
    - if current_user
      %div.new-thread
        = link_to new_section_topic_path(@section) do
          %i.fas.fa-plus
          Novo tópico

    - else
      %div{ style: "color: white; text-align: center" }
        Você precisa logar para criar um tópico.
