- if @topics.any?
  - page_number = 1
  - if params[:page]
    - page_number = params[:page].to_i

  - thread_type = 'list'
  - source = @section
  - if params[:query]
    - thread_type = 'search'
    - source = @topics

  = render 'topics/page_buttons', current_page: page_number, thread_type: thread_type, source: source

  - items_per_page = 10
  - begin_index = (page_number-1) * items_per_page
  - topics_array = @topics.slice(begin_index, items_per_page)

  %div.thread-stack.box-shadow.margin-tb-medium
    %div

    - count = 0;
    - topics_array.each do |topic|
      - if !topic.pinned? && count == 1
        - count = 2
        %div.separator

      - if topic.pinned? && count == 0
        - count = 1

      %div.thread.flex-row
        %div.info.color-white.flex-row
          %div.flex-row.v-center
            - if topic.user
              %a{ href: user_path(topic.user) }
                = set_avatar(topic.user)
            - else
              = set_avatar(topic.user)

          %div.flex-row.v-center
            %div.fill-parent-width
              - link_class = 'link-like hover-black-underlined'
              = link_to topic.title, topic_path(topic), class: link_class

              %b
                - if topic.user
                  = link_to topic.user.login, user_path(topic.user), class: link_class
                - else
                  Perfil excluído

              - posts_per_page = 10
              - num_posts = topic.posts.count + 1
              - page_amount = (num_posts.to_f / posts_per_page).ceil

              %div.bottom.flex-row.h-middle-space
                %div.left.font-small.flex-row.v-center
                  = format_date(topic.created_at)

                  - if page_amount > 1
                    %div.flex-row.v-center
                      - if page_amount > 6
                        - (1..3).each do |i|
                          = link_to i, topic_path(topic, page: i), class: 'box-shadow'

                        %b= '. . .'

                        - ((page_amount-1)..page_amount).each do |i|
                          = link_to i, topic_path(topic, page: i), class: 'box-shadow'

                      - else
                        - (1..page_amount).each do |i|
                          = link_to i, topic_path(topic, page: i), class: 'box-shadow'

                %div.color-black.flex-row
                  - if current_user && current_user.login == 'ADM'
                    - btn_class = 'bold clear-outline font-small hover-black-underlined link-like'

                    = form_with class: 'inline', model: topic, local: true do |form|
                      = form.hidden_field :locked, value: !topic.locked?
                      = form.button class: btn_class do
                        - if topic.locked?
                          %i.fas.fa-unlock
                          Destrancar tópico
                        - else
                          %i.fas.fa-lock
                          Trancar tópico

                    = form_with class: 'inline', model: topic, local: true do |form|
                      = form.hidden_field :pinned, value: !topic.pinned?
                      = form.button class: btn_class do
                        %i.fas.fa-thumbtack
                        - if topic.pinned?
                          Desafixar tópico
                        - else
                          Fixar tópico

                  - else
                    %span
                      - if topic.locked?
                        %i.fas.fa-lock

                      - if topic.pinned?
                        %i.fas.fa-thumbtack

        %div.reply-count.bold.color-white.flex-row.font-small.h-center.v-center
          %i.fas.fa-comments
          %span
            = topic.posts.count
            respostas

        %div.last-reply.color-white.flex-row.font-small.h-center.v-center
          %div.text-center
            - post = nil
            - num = 1 + topic.posts.count / 10
            - if topic.posts.any?
              - user = topic.posts.last.user
              - date = topic.posts.last.created_at
              - anchor = "#{topic.posts.last.id}"
            - else
              - user = topic.user
              - date = topic.created_at
              - anchor = 'op-post'

            - if user
              - text = user.login
            - else
              - text = 'Perfil excluído'

            %b
              = link_to 'Última mensagem:', topic_path(topic, page: num, anchor: anchor), class: link_class
            %br/
            = format_date(date, true)
            %br/
            Por:
            = text

%div.after-stack.flex-row.v-center
  - if !@topics.any?
    %p.clear-margin.fill-parent-width.inline-block.text-center
      - if params[:query] && params[:query] != nil
        Nenhum tópico encontrado
      - else
        Nenhum tópico criado

  - else
    = render 'topics/page_buttons', current_page: page_number, thread_type: thread_type, source: source

  - if !params[:query]
    - if current_user
      - an_class = 'border-box border-rounded box-shadow btn-like-bg-white' + |
        ' fill-parent-height flex-row h-center pos-right v-center' |

      = link_to new_section_topic_path(@section), class: an_class do
        %span
          %i.fas.fa-plus
          Novo tópico

- if !current_user
  %div.color-white.text-center
    Você precisa logar para criar um tópico.
