%nav.localization.box-shadow
  = link_to 'Início', sections_path
  >
  %b= @section.name

%div.margin-tb-medium
  %h2.color-white.font-big.clear-margin
    %b= @section.name

  %p.color-white.clear-margin
    = @section.description

= render 'topics_list'
