%div.localization.box-shadow
  = link_to 'Início', sections_path
  >
  %b
    = @section.name

%div.mb-3
  %h2.text-white.m-0
    %b
      = @section.name

  %p.text-white.m-0
    = @section.description

= render 'topics_list'
