%nav.localization
  = link_to 'Início', sections_path
  >
  = link_to @topic.section.name, section_topics_path(@topic.section)
  >
  %b Em algum tópico

-# Thread's title + info
%div.thread-info
  %h1
    = @topic.title

  %h2
    = @topic.user.login
    _>
    = format_date(@topic.created_at)

- if params[:page]
  - current_page = params[:page].to_i
- else
  - current_page = 1

-# Top page buttons
= render 'page_buttons', current_page: current_page, thread_type: 'single', source: @topic.posts

-# OP post
- if current_page == 1
  = render 'post_box', post: nil, post_number: 1

-# Replies
- begin_index = (current_page-1) * 9
- begin_index += current_page - 2 if current_page > 1
- posts_amount = (current_page > 1 ? 10 : 9)
- posts_array = @posts.slice(begin_index, posts_amount)

- counter = begin_index+1 + 1 # Skip op post
- posts_array.each do |post|
  = render 'post_box', post: post, post_number: counter, current_page: current_page
  - counter += 1

-# Bottom page buttons
= render 'page_buttons', current_page: current_page, thread_type: 'single', source: @topic.posts

-# Post form
- if current_user
  %span#post-place{ style: 'position: relative; top: -20px;' }

  %p{ style: 'color: white; display: flex; font-size: 0.9em; justify-content: center;' }
    * Use [color] para colorir o texto. Ex: [color code=#ffffff]texto[/color]
    %br/
    * Use [link] para colocar links. Ex: [link ref=https://www.algumsite.com]texto[/link]
    %br/
    * Use [spoiler] para ocultar o texto. Ex: [spoiler]texto[/spoiler]
    %br/
    * Use [video] para embutir vídeos. Ex: [video ref=https://www.youtube.com/watch?v=algo]

  %div{ style: 'margin: 30px 0; text-align: center;' }

    = form_with model: [@topic, Post.new], html: { id: 'leave-a-post' }, local: true do |form|
      %div
        %div.left
          Mensagem

        = form.text_area :message, rows: 6, cols: 60, id: 'text-box'

      = form.button 'Enviar'

- else
  %p{ style: 'color: white; text-align: center;' }
    Você precisar logar para enviar um post
