%div.localization.box-shadow
  = link_to 'Início', sections_path
  >
  %b Painel do ADM

%h2.text-white.mb-4
  %b Painel

%div.row
  - @users.each do |user|
    - if !user.ban
      %div.col-12.col-sm-6.col-md-4.col-lg-3.mb-3
        %div.panel-cell.d-flex.justify-content-between.p-2.text-white
          %div.d-flex.align-items-center
            = set_avatar user, size: 29, class: 'mr-2'

            %b.ellipsis-overflow{ style: 'max-width: 4em' }
              = user.login

          = link_to new_user_ban_path(user), class: 'd-flex align-items-center' do
            %span
              %i.fas.fa-user-lock
              Banir

%h2.text-white.my-4
  %b Usuários banidos

- if @bans.any?
  - @bans.each do |ban|
    %div.ban-cell.d-flex.align-items-center.justify-content-between.text-center.text-white.mb-3.px-3.py-3
      %span
        = ban.user.login
        = '- Motivo:'
        = "#{ban.reason}."

        - if ban.permanent?
          Banido permanentemente.
        - else
          Banido até
          = succeed '.' do
            = format_date(ban.expires_at)

      %div
        - an_class = 'bg-transparent border-0 text-underline-hover text-white'
        = link_to edit_ban_path(ban), class: an_class do
          %i.fas.fa-edit
          %b Alterar ban

        = button_to ban_path(ban), class: an_class, form_class: 'd-inline', method: :delete do
          %i.fas.fa-laugh
          %b Desbanir

- else
  %p.text-center.text-white.h4
    Não há usuários banidos.
