%h1.center-header Editar perfil

%div.form-box
  = form_with model: @user, local: true  do |form|
    %div
      = form.label :login
      = form.text_field :login

      - if @user.errors.messages[:login].any?
        %div.error
          = @user.errors.full_messages_for(:login).first

    %div
      = form.label :password, 'Senha (mínimo 5 caracteres)'
      = form.password_field :password

      - if @user.errors.messages[:password].any?
        %div.error
          = @user.errors.full_messages_for(:password).first

    %div
      = form.label :password_confirmation, 'Confirmar senha'
      = form.password_field :password_confirmation

      - if @user.errors.messages[:password_confirmation].any?
        %div.error
          = @user.errors.full_messages_for(:password_confirmation).first

    %div
      = form.label :signature, 'Assinatura (opcional)'
      = form.text_area :signature, rows: 4, cols: 40

    %div
      = form.label :avatar, 'Avatar (opcional)'
      %div{ style: 'text-align: left' }
        = set_avatar(@user, use_default: false)

      %div.file-picker
        Escolher imagem

      = form.file_field :avatar, accept: 'image/png, image/jpeg', class: 'invisible'

    %div.bottom
      = form.button do
        %i.fas.fa-check
        Finalizar

      %span

      = link_to @user do
        %i.fas.fa-times
        Cancelar
