%h1.center-header Editar ban

%div.form-box
  = form_with model: @ban, local: true do |form|
    %div
      = form.label :reason, 'Motivo'
      = form.text_area :reason, rows: 4

      - if @ban.errors.messages[:reason].any?
        %div.error
          = @ban.errors.full_messages_for(:reason).first

    %div
      %span
        = form.check_box :permanent
        = form.label :permanent, 'Ban permanente'

    %div
      = form.label :expires_at, 'Data de vencimento'
      = form.datetime_field :expires_at

      - if @ban.errors.messages[:expires_at].any?
        %div.error
          = @ban.errors.full_messages_for(:expires_at).first

    %div.bottom
      = form.button do
        %i.fas.fa-check
        Finalizar

      %span

      = link_to bans_path do
        %i.fas.fa-times
        Cancelar
