%h1{ style: 'color: white' } Usuários banidos
- if @bans.any?
  - @bans.each do |ban|
    %div.ban-cell
      %span
        = ban.user.login
        = '- Motivo:'
        = "#{ban.reason}."

        - if ban.permanent?
          Banido permanentemente.
        - else
          Banido até
          = succeed '.' do
            = format_date(ban.expires_at)

- else
  Não há usuários banidos.
