%h1.color-white Usuários banidos
- if @bans.any?
  - @bans.each do |ban|
    %div.ban-cell.color-white.flex-row.h-middle-space.v-center.text-center
      %span
        = ban.user.login
        = '- Motivo:'
        = "#{ban.reason}."

        - if ban.permanent?
          Banido permanentemente.
        - else
          Banido até
          = succeed '.' do
            = format_date(ban.expires_at)

- else
  Não há usuários banidos.
