%div.localization.box-shadow
  = link_to 'Início', sections_path
  >
  %b Bans

%h2.text-white.my-4
  %b Usuários banidos

- if @bans.any?
  - @bans.each do |ban|
    %div.ban-cell.d-flex.align-items-center.justify-content-between.text-center.text-white.mb-3.px-3.py-3
      %span
        = ban.user.login
        = '- Motivo:'
        = "#{ban.reason}."

        - if ban.permanent?
          Banido permanentemente.
        - else
          Banido até
          = succeed '.' do
            = format_date(ban.expires_at)

- else
  %p.text-center.text-white.h4
    Não há usuários banidos.
