%h1.center-header
  Banir usuário:
  = @user.login

%div.form-box
  = form_with model: [@user, Ban.new], local: true do |form|
    %div
      = form.label :reason, 'Motivo'
      = form.text_area :reason, rows: 4

    %div
      = form.label :expires_at, 'Data de vencimento'
      = form.datetime_field :expires_at

    %div.bottom
      = form.button data: { disable_with: 'Banindo...' }do
        %i.fas.fa-gavel
        Banir

      %span

      = link_to bans_path do
        %i.fas.fa-times
        Cancelar
