%div.localization.box-shadow
  %b Início

%div.wrapper.d-flex
  %div.section-list.mr-md-3{ style: 'flex: 7' }
    - @sections.each do |section|
      - total_section_posts = 0
      - section.topics.each do |topic|
        - total_section_posts += topic.posts.count

      %div.wall.box-shadow.d-block.d-md-flex.mb-3.py-4.text-white
        %div.flex-md-grow-1.h-100.px-4
          %div.d-flex.flex-column.justify-content-between.h-100
            %div
              %header.h3
                = link_to section.name, section_path(section), class: 'text-white'

              %div.description.mt-1
                = section.description

              %div.info.d-md-none.pt-4
                = "#{section.topics.count} tópicos criados."
                %br/
                = "#{section.topics.count + total_section_posts} posts enviados."

            - if current_user && current_user.login == 'ADM'
              %div.mt-4.mt-md-0
                = link_to edit_section_path(section), class: 'text-underline-hover text-white' do
                  %i.fas.fa-edit
                  Editar

                = button_to section_path(section), method: :delete,
                  data: { confirm: 'Remover seção?' },
                  class: 'bg-transparent border-0 clear-outline text-underline-hover text-white',
                  form_class: 'd-inline-block' do

                  %i.fas.fa-trash-alt
                  Deletar

        %div.info.d-none.d-md-block.px-4
          = "#{section.topics.count} tópicos criados."
          %br/
          = "#{section.topics.count + total_section_posts} posts enviados."

  %div.column-img.d-none.d-md-flex.justify-content-center.box-shadow{ style: 'flex: 2' }
    = image_tag 'roped-white.png', class: 'img-fluid'
    
- if current_user && current_user.login == 'ADM'
  = link_to new_section_path, class: 'h5 d-inline-block pt-3 underline-hover text-white' do
    %i.fas.fa-plus
    Nova seção
