%h2.text-center.text-white.mb-4
  %b Nova seção

%div.form-box
  = form_with model: Section.new, local: true do |form|
    %div
      = form.label :name, 'Nome'
      = form.text_field :name

      - if @section.errors.messages[:name]
        %div.error
          = @section.errors.full_messages_for(:name).first

    %div
      = form.label :description, 'Descrição'
      = form.text_area :description, rows: 6

      - if @section.errors.messages[:description]
        %div.error
          = @section.errors.full_messages_for(:description).first

    %div.bottom
      = form.button data: { disable_with: 'Criando...' } do
        %i.fas.fa-check
        Criar

      %span

      = link_to sections_path do
        %i.fas.fa-times
        Cancelar
