%h1.center-header Denúncias

- if @denuncias.any?
  %div.complaints-grid
    - counter = 0
    - @denuncias.each do |denuncia|
      - counter += 1

      %div.complaint-box
        %div.top
          %i.fas.fa-flag
          %b= "##{counter}"

        %div.middle
          = "#{denuncia.denunciador} denunciou #{denuncia.denunciado}"
          - if denuncia.tipo == 'topico'
            - topico = Topico.find(denuncia.source_id)
            - back_anchor = 'op-post'
          - else
            - post = Post.find(denuncia.source_id)
            - topico = post.topico
            - back_anchor = "#{post.id}"

        %div.bottom
          %b
            = link_to 'Checar', topico_path(topico, anchor: back_anchor)
          %br/
          %b
            = link_to 'Remover', denuncia_path(denuncia), method: :delete,
              data: { confirm: 'Remover denúncia?' }

- else
  %div{ style: 'text-align: center' }
    Não há denúncias

-#- if @denuncias.any?
    %div.left-align
    - count = 0
    - @denuncias.each do |denuncia|
      - count += 1
      %div.denuncia-div
        %b
          = "##{count}"
        %br/
        Por:
        = denuncia.denunciador
        %br/
        A:
        = denuncia.denunciado
        %br/
        %br/
        - if denuncia.tipo == 'topico'
          - topico = Topico.find(denuncia.source_id)
          - back_anchor = 'op-post'
        - else
          - post = Post.find(denuncia.source_id)
          - topico = post.topico
          - back_anchor = "#{post.id}"

        %b
          = link_to 'Checar', topico_path(topico, anchor: back_anchor)
        %br/
        %b
          = link_to 'Remover denúncia', denuncia_path(denuncia),
            method: :delete,
            data: { confirm: 'Remover denúncia?' }
    - else
      Nenhuma denúncia feita
