%h1 Editar usuário

- if @usuario.errors.any?
  %ul
    - @usuario.errors.full_messages.each do |msg|
      %li= msg

= form_with model: @usuario, local: true do |form|
  %p
    = form.label :login
    %br/
    = form.text_field :login

  %p
    = form.label :password
    %br/
    = form.password_field :password

  %p
    = form.submit 'Editar usuário'
