%h1 Editar usuário

- if @usuario.errors.any?
  %ul
    - @usuario.errors.full_messages.each do |msg|
      %li= msg

= form_with model: @usuario, local: true do |form|
  %p
    = form.label :nome
    %br/
    = form.text_field :nome

  %p
    = form.label :senha
    %br/
    = form.text_field :senha

  %p
    = form.submit

= link_to "Perfil de #{@usuario.nome}", usuario_path(@usuario)
%br/
= link_to 'Início', main_path
