%h1 Lista de usuários
  
%div.user-list
  - @usuarios.each do |u|
    %p
      = link_to u.login, usuario_path(u)
      - if current_usuario
        - if current_usuario.login == u.login or |
          current_usuario.login == 'ADM' |

          = link_to 'Editar', edit_usuario_path(u)
        - else
          ZZZZZZ
      - if current_usuario and current_usuario.login == 'ADM'
        = link_to 'Remover', usuario_path(u),
          method: :delete,
          data: { confirm:  "Remover '#{u.login}' ? " }

      %span
        = "Entrou em: #{u.created_at.strftime("%d/%m/%y")}"
        = "Posts: #{u.topicos.count + u.posts.count}"
    %hr/
