%h1.center-header Lista de usuários

- if @usuarios.any?
  - @usuarios.each do |user|
    %div.user-row
      %div.left
        %div.left
          = set_avatar(user, size: 30)

        %div.right
          = link_to user.login, usuario_path(user)

      %div.middle
        Entrou em:
        = format_date(user.created_at)

      %div.right
        = user.posts.count

    %hr




  -#%div.user-list
    - @usuarios.each do |u|
      %p
        %span.first
          %b
            = link_to u.login, usuario_path(u)

        %span.reg-date
          = "Entrou em: #{u.created_at.strftime("%d/%m/%y")}"
        %span.post-number
          = "Posts: #{u.topicos.count + u.posts.count}"
      %hr/
- else
  Nenhum usuário cadastrado
