%h1 Novo usuário

= form_with url: usuarios_path, local: true do |form|
  %p
    = form.label :usuario
    %br/
    = form.text_area :usuario, rows: 1

  %p
    = form.label :senha
    %br/
    = form.text_area :senha, rows: 1

  %p
    = form.submit

= link_to 'Voltar para área geral', topicos_path
