%h1 Novo usuário
%div.form-wrapper
  = form_with scope: :usuario, url: usuarios_new_path, local: true do |form|
    %p
      = form.label :login
      %br/
      = form.text_field :login
      - if @usuario.errors.include?(:login)
        %br/
        %div.error
          - @usuario.errors.full_messages_for(:login).each do |msg|
            = msg

    %p
      = form.label :password, 'Senha (mínimo 5 caracteres)'
      %br/
      = form.password_field :password
      - if @usuario.errors.include?(:password)
        %br/
        %div.error
          - @usuario.errors.full_messages_for(:password).each do |msg|
            = msg

    %p
      = form.label :assinatura, 'Assinatura (opcional)'
      %br/
      = form.text_area :assinatura, cols: 40, rows: 4

    %p
      = form.label :avatar, 'Avatar *Recomendável: 125x125 (opcional)'
      = form.file_field :avatar, style: 'display: none'
      %span.file-chooser
        Escolher arquivo

    %p.p-submit
      = form.submit 'Registrar'
