%div.user-panel
  %div
    %div.left
      = set_avatar(@usuario)

    %div.right
      %div.top
        %h1= @usuario.login

        Cadastro:
        = @usuario.created_at.strftime("%d/%m/%y")
        %br/
        Posts:
        = @usuario.posts.count

      %div.bottom
        = link_to edit_usuario_path(@usuario) do
          %i.fas.fa-edit
          Editar perfil

- if @usuario.topicos.any?
  %h1{ style: 'color: white; text-align: center;' } Tópicos criados

  %div.user-thread-stack
    %div
      &nbsp;

    - @usuario.topicos.each do |thread|
      %div
        %div.left
          %div
            = link_to thread.titulo, topico_path(thread)
            %br/
            = format_date(thread.created_at)

        %div.right
          Respostas:
          = thread.posts.count

- else
  %h2{ style: 'color: white; margin-top: 150px; text-align: center;' }
    Este usuário não criou nenhum tópico



-#%div.left-align
    %h1= @usuario.login

    %div.avatar-img
      - if @usuario.avatar.attached?
        = image_tag @usuario.avatar, size: '175x175'
      - else
        - if @usuario.login == 'ADM'
          - image = 'avatar.jpg'
        - else
          - image = 'newfag.jpg'

        = image_tag image, size: '175x175'

    %br/
    = "Entrou em: #{@usuario.created_at.strftime("%d/%m/%y")}"
    - if current_usuario
      - if current_usuario.login == @usuario.login or |
      current_usuario.login == 'ADM' |
        %br/
        %b
          %span.user-options
            = link_to 'Editar usuário', edit_usuario_path(@usuario)
            = link_to 'Excluir usuário', @usuario,
              method: :delete,
              data: { confirm:  "Remover '#{@usuario.login}' ?" }

    %br/
    %br/
    %h2 Tópicos criados

    - if @usuario.topicos.any?
      - days_array = ['Domingo', 'Segunda-feira',
      -  'Terça-feira', 'Quarta-feira', 'Quinta-feira',
      -  'Sexta-feira', 'Sábado']
      %table.thread-table
        %tr
          %th Tópico
          %th Respostas

        - @usuario.topicos.each do |topico|
          %tr
            %td.td-titulo
              - date = topico.created_at
              %h3
                %b
                  = link_to topico.titulo, topico_path(topico)
              = " #{days_array[date.wday]}, "
              = date.strftime("%d/%m/%y")
              às
              = date.strftime("%R")

            %td.td-resp
              = topico.posts.count
    - else
      %br/
      Este usuário não criou tópicos

    %br/
    %br/
