%h1= @usuario.login
%p= "Entrou em: #{@usuario.created_at.to_s(:db)}"

%h2= "Tópicos de #{@usuario.login}"
%table{ border: '1' }
  %tr
    %th Título
    %th Data de criação

  - @usuario.topicos.each do |topico|
    %tr
      %td= link_to topico.titulo, topico_path(topico)
      %td= topico.created_at.to_s(:db)

- if current_usuario
  - if current_usuario.login == @usuario.login or |
  current_usuario.login == 'ADM' |
    %br/
    = link_to 'Editar usuário', edit_usuario_path(@usuario)
