%h1= @usuario.login
%p= "Entrou em: #{@usuario.created_at.strftime("%d/%m/%y")}"

%h2= "Tópicos de #{@usuario.login}"
%table{ border: '1' }
  %tr
    %th Título
    %th Data de criação

  - @usuario.topicos.each do |topico|
    %tr
      %td= link_to topico.titulo, topico_path(topico)
      - date = topico.created_at
      %td= "#{date.strftime("%d/%m/%y")}, #{date.strftime("%R")}"

- if current_usuario
  - if current_usuario.login == @usuario.login or |
  current_usuario.login == 'ADM' |
    %br/
    = link_to 'Editar usuário', edit_usuario_path(@usuario)
