- if post
  - source = post
- else
  - source = @topic

- id = source.id
- id = 'op-post' if !post

%div.post.flex-row
  %div.user-info.font-small.text-center
    - if source.user
      %a{ href: user_path(source.user) }
        = set_avatar(source.user, size: 125)
    - else
      = set_avatar(source.user, size: 125)

    %br/
    %b
      - if source.user
        = link_to source.user.login, user_path(source.user)
      - else
        Perfil excluído

    - if source.user
      %br/
      = "Cadastro: #{source.user.created_at.strftime("%d/%m/%y")}"
      %br/
      = "Posts: #{source.user.topics.count + source.user.posts.count}"
      %br/

  %div.content.flex-col
    %div.content-info.inline-block
      %div.font-small.flex-row.h-middle-space.v-center
        %span
          = format_date(source.created_at)

        %div
          -# Post rating
          - if post
            %div.rating-btns.inline-flex-row
              - if current_user
                - rating = post.ratings.find_by(user_id: current_user.id)

                - an_class = 'bg-black bold clear-border clear-outline color-white font-small'
                - if !rating
                  = form_with model: [source, Rating.new] do |form|
                    = form.hidden_field :value, value: 1
                    = form.button class: an_class do
                      = '+'
                      %i.fas.fa-arrow-up

                  = form_with model: [source, Rating.new] do |form|
                    = form.hidden_field :value, value: -1
                    = form.button class: an_class do
                      = '-'
                      %i.fas.fa-arrow-down

                - else
                  - case rating.value
                    - when 1
                      = button_to rating, class: 'positive ' + an_class, method: :delete, remote: true do
                        = '+'
                        %i.fas.fa-arrow-up

                      = form_with model: rating do |form|
                        = form.hidden_field :value, value: -1
                        = form.button class: an_class do
                          = '-'
                          %i.fas.fa-arrow-down

                    - when -1
                      = form_with model: rating do |form|
                        = form.hidden_field :value, value: 1
                        = form.button class: an_class do
                          = '+'
                          %i.fas.fa-arrow-up

                      = button_to rating, class: 'negative ' + an_class, method: :delete, remote: true do
                        = '-'
                        %i.fas.fa-arrow-down

              - else
                %button.clear-border{ disabled: 'disabled' }
                  = '+'
                  %i.fas.fa-arrow-up

                %button.clear-border{ disabled: 'disabled' }
                  = '-'
                  %i.fas.fa-arrow-down

            %span.rating
              Total:
              - sum = source.ratings.sum('value')
              - if sum < 0
                %b{ style: "color: red" }
                  = "#{sum}"
              - else
                %b
                  = "#{sum}"

          - if source.user && @topic.user.login == source.user.login
            %span.op-label.border-rounded.color-white.inline-block
              OP

          %span.post-number
            = "##{post_number}"

      %hr.clear-border.fill-parent-width

    %div.message.color-white.flex-row.v-middle-space
      %div.msg-text
        = source.message

      %div.msg-options.flex-row.font-small.h-middle-space
        %span
          - if source.updated_at != source.created_at
            Editado em:
            = format_date(source.updated_at)

        - if current_user
          - options_class = 'bold box-shadow clear-border'
          %div
            - if post
              - which_post = source.id
              - which_topic = source.topic.id
            - else
              - which_post = "none"
              - which_topic = source.id

            - if source.user
              - author = source.user.login
            - else
              - author = 'Perfil excluído'

            %a.quote-btn{ class: options_class, href: '#post-place', data: { post: which_post, topic: which_topic, msg: source.message, author: author } }<
              %i.fas.fa-quote-left
              Citar

            - if post
              - complaint_type = 'post'
            - else
              - complaint_type = 'topic'

            - if source.user
              - complainee = source.user.login
            - else
              - complainee = 'Perfil excluído'

            = form_with class: 'inline', model: [source, Complaint.new] do |form|
              = form.hidden_field :complainee, value: complainee

              = precede '' do
                = form.button class: options_class, data: { disable_with: 'Reportando...' } do
                  %i.fas.fa-flag
                  Reportar

            - if current_user.login == 'ADM' || (source.user && current_user.login == source.user.login)
              - if post
                - edit_path = edit_post_path(source)
              - else
                - edit_path = edit_topic_path(@topic)

              %a{ class: options_class, href: edit_path }<
                %i.fas.fa-edit
                Editar

              - options_class = 'btn_delete ' + options_class
              = button_to source, class: options_class, form_class: 'inline', method: :get, remote: true, data: { disable_with: 'Aguarde...' } do
                %i.far.fa-trash-alt
                Deletar

    - if source.user && source.user.signature != nil
      %hr.bg-black.clear-border.fill-parent-width
      %div.signature.color-white.font-small
        %span
          %b Assinatura

        %div
          = source.user.signature
