%h1 Entrar

= form_with model: @usuario_session, local: true do |form|
  %p
    = form.label :login
    %br/
    = form.text_field :login

  %p
    = form.label :password
    %br/
    = form.password_field :password

  %p
    = form.label :remember_me
    = form.check_box :remember_me

  %p
    = form.submit 'Entrar'
