%h1 Entrar

- if @usuario_session.errors.any?
  %ul
    - @usuario_session.errors.full_messages.each do |msg|
      %li= msg

= form_with model: @usuario_session, local: true do |form|
  %p
    = form.label :login
    %br/
    = form.text_field :login

  %p
    = form.label :password, 'Senha'
    %br/
    = form.password_field :password

  %p
    = form.submit 'Entrar'

= link_to 'Voltar', session[:previous_page]
