- page_number = 1
- if params[:page]
  - page_number = params[:page].to_i

-# Botões podem ser de search/show/index
- if is_search
  - action = :search
  - query = "#{params[:pesquisa]}"
- elsif is_showing
  - action = :show
- else
  - action = :index

- items_per_page = 10
- if is_showing
  - num_items = @topico.posts.count + 1
- else
  - num_items = @topicos.length

- page_amount = (num_items.to_f / items_per_page).ceil
- if page_amount > 1
  %div.buttons-div
    - if page_number > 1
      = link_to '&#9666 Ant'.html_safe, { |
          controller: :topicos, |
          action: action, |
          page: page_number-1, |
          pesquisa: query |
        } |
      
    - if page_number > 3
      - 2.times do |i|
        = link_to "#{i+1}", { |
            controller: :topicos, |
            action: action, |
            page: "#{i+1}", |
            pesquisa: query |
          } |

      %span.points
        %b
          = '. . .'
      
      - if page_amount - page_number > 3
        %button.selected-button{ disabled: true }
          = page_number
        
        = link_to "#{page_number + 1}", { |
            controller: :topicos, |
            action: action, |
            page: "#{page_number + 1}", |
            pesquisa: query |
          } |
        %span.points
          %b
            = '. . .'
        
        - 2.times do |i|
          = link_to "#{page_amount - 1 + i}", { |
              controller: :topicos, |
              action: action, |
              page: "#{page_amount - 1 + i}", |
              pesquisa: query |
            } |
      - else
        - (4).times do |i|
          - if page_amount - 3 + i == page_number
            %button.selected-button{ disabled: true }
              = page_number
          - else
            = link_to "#{page_amount - 3 + i}", { |
                controller: :topicos, |
                action: action, |
                page: "#{page_amount - 3 + i}", |
                pesquisa: query |
              } |
    - else
      - if page_amount > 6
        - 3.times do |i|
          - if i+1 == page_number
            %button.selected-button{ disabled: true }
              = page_number
          - else
            = link_to "#{i+1}", { |
                controller: :topicos, |
                action: action, |
                page: "#{i+1}", |
                pesquisa: query |
              } |

        %span.points
          %b
            = '. . .'

        - 2.times do |i|
          = link_to "#{page_amount - 1 + i}", { |
              controller: :topicos, |
              action: action, |
              page: "#{page_amount - 1 + i}", |
              pesquisa: query |
            } |

      - else
        - page_amount.times do |i|
          - if i+1 == page_number
            %button.selected-button{ disabled: true }
              = page_number
          - else
            = link_to "#{i+1}", { |
                controller: :topicos, |
                action: action, |
                page: "#{i+1}", |
                pesquisa: query |
              } |

    - if page_number < page_amount
      = link_to 'Próx &#9656'.html_safe, { |
          controller: :topicos, |
          action: action, |
          page: "#{page_number + 1}", |
          pesquisa: query |
        } | 
