- page_number = 1
- if params[:page]
  - page_number = params[:page].to_i

- path = topicos_path
- path = topicos_search_path if is_search

- items_per_page = 10
- num_items = @topicos.length

= render 'page_buttons', is_search: is_search, is_showing: is_showing

- begin_index = (page_number-1) * 10
- count = 0;
- topicos_array = @topicos.slice(begin_index, items_per_page)

- days_array = ['Domingo', 'Segunda-feira',
-  'Terça-feira', 'Quarta-feira', 'Quinta-feira',
-  'Sexta-feira', 'Sábado']

%div.wrapper-shadow
  %div.thread-headers
    %div
      %div
        Tópico
      %div.second
        Respostas
      %div.third
        Última reposta

  - topicos_array.each do |topico|
    - if count % 2 == 0
      - div_class = 'thread-wrapper-even'
    - else
      - div_class = 'thread-wrapper-odd'

    - count += 1
    %div{ class: div_class }
      %div
        %div.first
          %h2
            = link_to "#{topico.titulo}", topico_path(topico)
          - if current_usuario
            - if current_usuario.login == topico.usuario.login or |
            current_usuario.login == 'ADM' |
              %span
                %b
                  = link_to 'Editar', edit_topico_path(topico)
                |
                %b
                  = link_to 'Deletar', topico_path(topico),
                    method: :delete,
                    data: { confirm: "Apagar tópico?" }

          %b
            = link_to topico.usuario.login, usuario_path(topico.usuario)
          %br/
          - date = topico.created_at
          = "#{days_array[date.wday]}, "
          = date.strftime("%d/%m/%y")
          às
          = date.strftime("%R")

          - posts_per_page = 10
          - num_posts = topico.posts.count + 1
          - page_amount = (num_posts.to_f / posts_per_page).ceil
          - if page_amount > 1
            %div.mini-buttons-div
              %form{ action: topico_path(topico), method: :get }
                - if page_amount > 6
                  - 3.times do |i|
                    %input{ type: 'submit', name: :page, value: "#{i+1}" }

                  %span.points
                    %b
                      = '. . .'

                  - 2.times do |i|
                    %input{ type: 'submit', name: :page, value: "#{page_amount - 1 + i}" }

                - else
                  - page_amount.times do |i|
                    %input{ type: 'submit', name: :page, value: "#{i+1}" }
      
        %div.second
          %br/
          = topico.posts.count
        %div.third
          %br/
          - post = nil
          - num = 1 + topico.posts.count / 10
          - if topico.posts.any?
            - user = topico.posts.last.usuario
            - date = topico.posts.last.created_at
            - post = topico.posts.last
          - else
            - user = topico.usuario
            - date = topico.created_at
            
          = "#{date.strftime("%d/%m/%y")} às #{date.strftime("%R")}"
          %br/
          Por:
          %b
            = link_to user.login, topico_path(topico, page: num, anchor: "#{topico.posts.count}" )
          %br/

= render 'page_buttons', is_search: is_search, is_showing: is_showing

%br/

