%h1 Editar tópico

%div.post-box
  = form_with model: @topico, local: true do |form|
    %table
      %tr
        %td.left
          %b
            = form.label :titulo, "Título"
        %td
          = form.text_field :titulo

      %tr
        %td.left
          %b
            = form.label :mensagem
        %td
          = form.text_area :mensagem, cols: 50, rows: 5
      
      %tr
        %td.left
          %b
            = form.label :arquivo
        %td
          = form.file_field :arquivo, style: 'display: none'
          %div.file-chooser
            Escolher arquivo

      %tr
        %td.left
          %b
            = form.label :video, 'Embutir vídeo'
        %td
          = form.text_field :video, placeholder: 'Link do vídeo'

    - if @topico.errors.include?(:titulo)
      %br/
      %div.error
        - @topico.errors.full_messages_for(:titulo).each do |msg|
          = msg

    - if @topico.errors.include?(:mensagem)
      %br/
      %div.error
        - @topico.errors.full_messages_for(:mensagem).each do |msg|
          = msg
    %p
      = form.submit 'Editar tópico'

%b
  = link_to 'Voltar ao tópico', topico_path(@topico)
