%h1 Área geral

- if @topicos.any?
  - @topicos.each do |topico|
    %p
      = topico.usuario.nome
      = topico.created_at.to_s(:db)
      %br/
      = link_to "#{topico.titulo}", topico_path(topico)
      = link_to "Deletar", topico_path(topico),
        method: :delete,
        data: { confirm: "Apagar tópico?" }
    %hr/
- else
  %p Não há nenhum tópico!

%br/
= link_to 'Novo tópico', new_topico_path
%br/
= link_to 'Início', main_path
