%h1 Área geral

- if @topicos.any?
  - @topicos.each do |topico|
    %p
      = topico.usuario.login
      = topico.created_at.to_s(:db)
      %br/
      = link_to "#{topico.titulo}", topico_path(topico)
      - if current_usuario
        - if current_usuario.login == topico.usuario.login or |
        current_usuario.login == 'ADM' |
          = link_to "Deletar", topico_path(topico),
            method: :delete,
            data: { confirm: "Apagar tópico?" }
    %hr/
- else
  %p Não há nenhum tópico!

%br/
- if current_usuario
  = link_to 'Novo tópico', new_topico_path
- else
  Você precisa logar para criar um tópico
