%nav.localization
  = link_to 'Início', main_path
  >
  %b
    = link_to 'Área geral', topicos_path
%br/
%br/

- if @topicos.any?
  - days_array = ['Domingo', 'Segunda-feira',
  -  'Terça-feira', 'Quarta-feira', 'Quinta-feira',
  -  'Sexta-feira', 'Sábado']
  %div.thread-div-shadow
    - @topicos.each do |topico|
      %div.thread-div
        %div
          %div
            %h2
              = link_to "#{topico.titulo}", topico_path(topico)
            - if current_usuario
              - if current_usuario.login == topico.usuario.login or |
              current_usuario.login == 'ADM' |
                %span
                  %b
                    = link_to "Deletar", topico_path(topico),
                      method: :delete,
                      data: { confirm: "Apagar tópico?" }
            %b
              = link_to topico.usuario.login, usuario_path(topico.usuario)
            %br/
            - date = topico.created_at
            = "#{days_array[date.wday]}, "
            = date.strftime("%d/%m/%y")
            às
            = date.strftime("%R")
            %br/

          %div.second
            %br/
            = "Respostas: #{topico.posts.count}";
          %div.third
            - if topico.posts.any?
              - user = topico.posts.last.usuario
              - horario = topico.posts.last.created_at
            - else
              - user = topico.usuario
              - horario = topico.created_at              
            - horario = (Time.now - horario) / 1000
            Última resposta:
            %br/
            = "%.3f" %horario
            %br/
            Por:
            %b
              = link_to user.login, usuario_path(user)
- else
  %p Não há nenhum tópico!

%br/
- if current_usuario
  %b
    = link_to 'Novo tópico', new_topico_path
- else
  Você precisa logar para criar um tópico.
