%h1 Novo tópico

= render 'form'
= form_with model: @topico, local: true do |form|
  %p
    = form.label :titulo
    %br/
    = form.text_field :titulo
    
  %p 
    = form.label :mensagem
    %br/
    = form.text_area :mensagem, cols: 100, rows: 20

  %p
    = form.submit 'Criar tópico'
