%h1.center-header Novo tópico

%div.form-box
  = form_with model: Topico.new, local: true do |form|
    %div
      = form.label :titulo, 'Título'
      = form.text_field :titulo

    %div
      = form.label :mensagem
      = form.text_area :mensagem, rows: 6, cols: 60
    
    %div.bottom
      = form.button do
        %i.fas.fa-check
        Criar

      %span

      = link_to topicos_path do
        %i.fas.fa-times
        Cancelar

-#%h1 Novo tópico

  %br/
  %div.post-box
    = form_with scope: :topico, url: topicos_new_path, local: true do |form|
      %table
        %tr
          %td.left
            %b
              = form.label :titulo, "Título"
          %td
            = form.text_field :titulo

        %tr
          %td.left
            %b
              = form.label :mensagem
          %td
            = form.text_area :mensagem, cols: 50, rows: 5
        
        %tr
          %td.left
            %b
              = form.label :arquivo
          %td
            = form.file_field :arquivo, style: 'display: none'
            %div.file-chooser
              Escolher arquivo

      - if @topico.errors.include?(:titulo)
        %br/
        %div.error
          - @topico.errors.full_messages_for(:titulo).each do |msg|
            = msg

      - if @topico.errors.include?(:mensagem)
        %br/
        %div.error
          - @topico.errors.full_messages_for(:mensagem).each do |msg|
            = msg
      %p
        = form.submit 'Criar tópico'
