%h1= "#{@topico.titulo} #{@topico.created_at.to_s(:db)}"
%p
  = link_to @topico.usuario.login, usuario_path(@topico.usuario)
  = @topico.created_at.to_s(:db)
  %br/
  = @topico.mensagem
  - if current_usuario
    - if current_usuario.login == @topico.usuario.login or |
    current_usuario.login == 'ADM' |
      %br/
      = link_to 'Editar tópico', edit_topico_path(@topico)
%hr/

- count = 1
- @topico.posts.each do |post|
  %p
    = "#{post.usuario.login}, "
    = post.created_at.to_s(:db)
    %br/
    = post.mensagem
    %br/
    = link_to 'Editar', edit_topico_post_path(post.topico, post)
    = link_to 'Deletar', [post.topico, post],
      method: :delete,
      data: { confirm: 'Deletar post?' }
  - if count < @topico.posts.count
    %hr/
  - count += 1

%br/
- if current_usuario
  = form_with model: [@topico, @topico.posts.build], local: true do |form|
    %p
      = form.label :mensagem
      %br/
      = form.text_area :mensagem, rows: 15, cols: 65
    
    %p
      = form.submit 'Enviar post'
- else
  Você precisa logar para enviar um post
