%nav.localization
  = link_to 'Início', main_path
  >
  = link_to 'Área geral', topicos_path

%br/

- days_array = ['Domingo', 'Segunda-feira',
-  'Terça-feira', 'Quarta-feira', 'Quinta-feira',
-  'Sexta-feira', 'Sábado']

-# Título do post + info
%h2.h-topico
  = @topico.titulo
%h5.h-topico
  = @topico.usuario.login
  _>
  - date = @topico.created_at
  = days_array[date.wday]
  = date.strftime("%d/%m/%y")
  às
  = date.strftime("%R")

- page_number = 1 if !page_number
- if params[:page]
  - page_number = params[:page].to_i

- posts_per_page = 10

-# Botões das páginas
%div.left-align
  = render 'page_buttons', is_search: false, is_showing: true

-# Primeiro post (OP)
- if page_number == 1
  %div.post-wrapper{ id: 'op-post' }

    -# Informações do OP
    %div.user-info
      - if @topico.usuario.login == 'ADM'
        - img_src = '/assets/avatar.jpg'
      - else
        - img_src = '/assets/newfag.jpg'

      %a.img-link{ href: usuario_path(@topico.usuario) }
        %img{ src: img_src, height: 125, width: 125 }
      %br/
      %b
        = link_to @topico.usuario.login, usuario_path(@topico.usuario)
      %br/
      = "Cadastro: #{@topico.usuario.created_at.strftime("%d/%m/%y")}"
      %br/
      = "Posts: #{@topico.usuario.topicos.count + @topico.usuario.posts.count}"
      %br/

    -# Post do OP
    %div.user-post-space
      - if @topico.usuario.login == 'ADM'
        - img_src = '/assets/avatar.jpg'
      - else
        - img_src = '/assets/newfag.jpg'

      %div.user-msg
        %span.post-info
          - date = @topico.created_at
          = "#{days_array[date.wday]}, "
          = date.strftime("%d/%m/%y")
          às
          = date.strftime("%R")
          %span.post-right
            - if @topico.usuario.login == @topico.usuario.login
              %span.post-op-tag
                OP
            %span.post-num
              = "#1"

        %hr/
        = @topico.mensagem

        - if @topico.arquivo.attached?
          %br/
          = image_tag @topico.arquivo
          %br/

        - if !@topico.video.to_s.empty?
          %br/
          %div.video
            %iframe{ width: 600, height: 350, src: @topico.video, frameborder: 0 }

        -# Opções do post
        - if current_usuario
          %span.options
            = form_with scope: :denuncia, url: denuncias_path, local: true do |form|
              = form.hidden_field :denunciador, value: current_usuario.login
              = form.hidden_field :denunciado, value: @topico.usuario.login
              = form.hidden_field :tipo, value: 'topico'
              = form.hidden_field :source_id, value: @topico.id
              = form.submit 'Denunciar'

            - if current_usuario.login == @topico.usuario.login or |
            current_usuario.login == 'ADM' |          
              %b
                = link_to 'Editar tópico', edit_topico_path(@topico)
          
        - if @topico.created_at != @topico.updated_at
          %span.post-edit-msg
            Editado pela última vez em:
            - date = @topico.updated_at
            = "#{days_array[date.wday]}, "
            = date.strftime("%d/%m/%y")
            às
            = date.strftime("%R")

      - if @topico.usuario.assinatura != nil
        %div.assinatura
          %hr/
          %h5 
            %b Assinatura
          = @topico.usuario.assinatura
  %br/

-# Cada página fica com 10 posts
- begin_index = (page_number-1) * 9
- begin_index += page_number - 2 if page_number > 1
- amount = (page_number > 1 ? posts_per_page : 9)

- count = begin_index
- posts_array = @topico.posts.slice(begin_index, amount)

-# Cria um espaço para cada post
- posts_array.each do |post|
  %div.post-wrapper{ id: "#{post.id}" }

    -# Informações do postador
    %div.user-info
      - if post.usuario.login == 'ADM'
        - img_src = '/assets/avatar.jpg'
      - else
        - img_src = '/assets/newfag.jpg'

      %a.img-link{ href: usuario_path(post.usuario) }
        %img{ src: img_src }
      %br/
      %b
        = link_to post.usuario.login, usuario_path(post.usuario)
      %br/
      = "Cadastro: #{post.usuario.created_at.strftime("%d/%m/%y")}"
      %br/
      = "Posts: #{post.usuario.topicos.count + post.usuario.posts.count}"
      %br/

    -# Post
    %div.user-post-space
      - if post.usuario.assinatura == nil
        - height = '100%'
      - else
        - height = '70%'

      %div.user-msg{ style: "height: #{height}" }
        %span.post-info
          - date = post.created_at
          = "#{days_array[date.wday]}, "
          = date.strftime("%d/%m/%y")
          às
          = date.strftime("%R")
          %span.post-right
            - if post.usuario.login == @topico.usuario.login
              %span.post-op-tag
                OP
            %span.post-num
              = "##{count+2}"

        %hr/
        = post.mensagem

        - if post.arquivo.attached?
          %br/
          = image_tag post.arquivo
          %br/

        - if !post.video.to_s.empty?
          %br
          %div.video
            %iframe{ width: 600, height: 350, src: post.video, frameborder: 0 }

        -# Opções do post
        - if current_usuario
          %span.options
            = form_with scope: :denuncia, url: denuncias_path, local: true do |form|
              = form.hidden_field :denunciador, value: current_usuario.login
              = form.hidden_field :denunciado, value: post.usuario.login
              = form.hidden_field :tipo, value: 'post'
              = form.hidden_field :source_id, value: post.id
              = form.submit 'Denunciar'

            - if current_usuario.login == post.usuario.login or |
            current_usuario.login == 'ADM' |
              %b
                = link_to 'Editar', edit_topico_post_path(post.topico, post, page: page_number)
              %b
                = link_to 'Deletar', [post.topico, post],
                  method: :delete,
                  data: { confirm: 'Deletar post?' }

          - if post.created_at != post.updated_at
            %span.post-edit-msg
              Editado pela última vez em:
              - date = post.updated_at
              = "#{days_array[date.wday]}, "
              = date.strftime("%d/%m/%y")
              às
              = date.strftime("%R")

      - if post.usuario.assinatura != nil
        %div.assinatura
          %hr/
          %h5 
            %b Assinatura
          = post.usuario.assinatura

  - count += 1

-# Botões das páginas
%div.left-align
  = render 'page_buttons', is_search: false, is_showing: true

%br/
-# Caixa de envio de posts
- if current_usuario
  %div.post-box#post-sending
    = form_with scope: :post, url: topico_new_post_path(@topico), local: true do |form|
      %table
        %tr
          %td.left
            %b
              = form.label :mensagem
          %td
            = form.text_area :mensagem, cols: 50, rows: 5
        
        %tr
          %td.left
            %b
              = form.label :arquivo
          %td
            = form.file_field :arquivo, style: 'display: none'
            %div.file-chooser
              Escolher arquivo

        %tr
          %td.left
            %b
              = form.label :video, 'Embutir vídeo'
          %td
            = form.text_field :video, placeholder: 'Link do vídeo'

      - if @post && @post.errors.any?
        %br/
        %div.error
          - @post.errors.full_messages.each do |msg|
            = msg

      %br/
      %p
        = form.submit 'Enviar post'

- else
  Você precisa logar para enviar um post
  %br/
  %br/
