%nav.localization
  = link_to 'Início', main_path
  >
  = link_to 'Área geral', topicos_path

%br/

- days_array = ['Domingo', 'Segunda-feira',
-  'Terça-feira', 'Quarta-feira', 'Quinta-feira',
-  'Sexta-feira', 'Sábado']

%h2.h-topico
  = @topico.titulo
%h5.h-topico
  = @topico.usuario.login
  _>
  - date = @topico.created_at
  = days_array[date.wday]
  = date.strftime("%d/%m/%y")
  às
  = date.strftime("%R")

- page_number = 1 if !page_number
- if params[:page]
  - page_number = params[:page].to_i

-# Botões das páginas
- num = @topico.posts.count + 1
- if !(num / 10 < 1 || (num / 10 == 1 && num % 10 == 0))
  %div.buttons-div.first-buttons-div
    %form{ action: topico_path(@topico), method: :get }
      - ((num / 10) + 1).times do |i|
        - if i+1 == page_number
          %button.selected-button{ disabled: true }
            = page_number
        - else 
          %input{ type: 'submit', name: :page, value: "#{i+1}" }

-# Primeiro post (OP)
- if page_number == 1
  %div.post-wrapper{ id: "1" }
    %div.user-info
      %b
        = link_to @topico.usuario.login, usuario_path(@topico.usuario)
      %br/
      = "Cadastro: #{@topico.usuario.created_at.strftime("%d/%m/%y")}"
      %br/
      = "Posts: #{@topico.usuario.topicos.count + @topico.usuario.posts.count}"
      %br/
    %div.user-msg
      %span.post-info
        - date = @topico.created_at
        = "#{days_array[date.wday]}, "
        = date.strftime("%d/%m/%y")
        às
        = date.strftime("%R")
        %span.post-right
          - if @topico.usuario.login == @topico.usuario.login
            %span.post-op-tag
              OP
          %span.post-num
            = "#1"

      %hr/
      = @topico.mensagem
      - if current_usuario
        %span.options
          %b
            = link_to 'Denunciar', nil
          - if current_usuario.login == @topico.usuario.login or |
          current_usuario.login == 'ADM' |          
            |
            %b
              = link_to 'Editar tópico', edit_topico_path(@topico)
      
      - if @topico.created_at != @topico.updated_at
        %span.post-edit-msg
          Editado pela última vez em:
          - date = @topico.updated_at
          = "#{days_array[date.wday]}, "
          = date.strftime("%d/%m/%y")
          às
          = date.strftime("%R")
  %br/

-# Cada página fica com 10 posts
- begin_index = (page_number-1) * 9
- end_index = 9
- end_index += 1 if page_number > 1

- count = begin_index
- posts_array = @topico.posts.slice(begin_index, end_index)

-# Cria um espaço para cada post
- posts_array.each do |post|
  %div.post-wrapper{ id: "#{count+1}" }
    %div.user-info
      %b
        = link_to post.usuario.login, usuario_path(post.usuario)
      %br/
      = "Cadastro: #{post.usuario.created_at.strftime("%d/%m/%y")}"
      %br/
      = "Posts: #{post.usuario.topicos.count + post.usuario.posts.count}"
      %br/
    %div.user-msg
      %span.post-info
        - date = post.created_at
        = "#{days_array[date.wday]}, "
        = date.strftime("%d/%m/%y")
        às
        = date.strftime("%R")
        %span.post-right
          - if post.usuario.login == @topico.usuario.login
            %span.post-op-tag
              OP
          %span.post-num
            = "##{count+2}"
 
      %hr/
      = post.mensagem
      - if current_usuario
        %span.options
          %b
            = link_to 'Denunciar', nil

          - if current_usuario.login == post.usuario.login or |
          current_usuario.login == 'ADM' |
            |
            %b
              = link_to 'Editar', edit_topico_post_path(post.topico, post, page: page_number, count: count)
            |
            %b
              = link_to 'Deletar', [post.topico, post],
                method: :delete,
                data: { confirm: 'Deletar post?' }

      - if post.created_at != post.updated_at
        %span.post-edit-msg
          Editado pela última vez em:
          - date = post.updated_at
          = "#{days_array[date.wday]}, "
          = date.strftime("%d/%m/%y")
          às
          = date.strftime("%R")
  - count += 1

-# Botões das páginas
- num = @topico.posts.count + 1
- if !(num / 10 < 1 || (num / 10 == 1 && num % 10 == 0))
  %div.buttons-div
    %form{ action: topico_path(@topico), method: :get }
      - ((num / 10) + 1).times do |i|
        - if i+1 == page_number
          %button.selected-button{ disabled: true }
            = page_number
        - else 
          %input{ type: 'submit', name: :page, value: "#{i+1}" }

-# Caixa de envio de posts
%br/
- if current_usuario
  = form_with scope: :post, url: @topico, local: true do |form|
    %p
      = form.label :mensagem
      %br/
      = form.text_area :mensagem, cols: 75, rows: 15
      - if @post && @post.errors.any?
        %br/
        %div.error
          - @post.errors.full_messages.each do |msg|
            = msg

    %p
      = form.submit 'Enviar post'
- else
  Você precisa logar para enviar um post
  %br/
  %br/
