%nav.localization
  = link_to 'Início', main_path
  >
  = link_to 'Área geral', topicos_path

%br/

- days_array = ['Domingo', 'Segunda-feira',
-  'Terça-feira', 'Quarta-feira', 'Quinta-feira',
-  'Sexta-feira', 'Sábado']

-# Título do post + info
%h2.h-topico
  = @topico.titulo
%h5.h-topico
  = @topico.usuario.login
  _>
  - date = @topico.created_at
  = days_array[date.wday]
  = date.strftime("%d/%m/%y")
  às
  = date.strftime("%R")

- page_number = 1 if !page_number
- if params[:page]
  - page_number = params[:page].to_i

- posts_per_page = 10

-# Botões das páginas

%div.left-align
  = render 'topicos/page_buttons', is_search: false, is_showing: true
%br/

-# Primeiro post (OP)
- if page_number == 1
  %span#op-post

  %div.post-wrapper
    -# Informações do OP
    %div.user-info
      %a.img-link{ href: usuario_path(@topico.usuario) }
        - if @topico.usuario.avatar.attached?
          = image_tag @topico.usuario.avatar, size: '125x125'
        - else
          - if @topico.usuario.login == 'ADM'
            - img_src = 'avatar.jpg'
          - else
            - img_src = 'newfag.jpg'

          = image_tag img_src, size: '125x125'

      %br/
      %b
        = link_to @topico.usuario.login, usuario_path(@topico.usuario)
      %br/
      = "Cadastro: #{@topico.usuario.created_at.strftime("%d/%m/%y")}"
      %br/
      = "Posts: #{@topico.usuario.topicos.count + @topico.usuario.posts.count}"
      %br/

    -# Post do OP
    %div.user-post-space
      - if @topico.usuario.assinatura == nil
        - height = '100%'
      - else
        - height = '70%'

      %div.user-msg{ style: "height: #{height}" }
        %span.post-info
          - date = @topico.created_at
          = "#{days_array[date.wday]}, "
          = date.strftime("%d/%m/%y")
          às
          = date.strftime("%R")
          %span.post-right
            - if @topico.usuario.login == @topico.usuario.login
              %span.post-op-tag
                OP
            %span.post-num
              = "#1"

        %hr/
        %div.msg-text
          = @topico.mensagem

        - if @topico.arquivo.attached?
          %br/
          = image_tag @topico.arquivo
          %br/

        -# Opções do post
        - if current_usuario
          %span.options
            = form_with scope: :denuncia, url: denuncias_path, local: true do |form|
              = form.hidden_field :denunciador, value: current_usuario.login
              = form.hidden_field :denunciado, value: @topico.usuario.login
              = form.hidden_field :tipo, value: 'topico'
              = form.hidden_field :source_id, value: @topico.id
              = form.submit 'Denunciar'

            - if current_usuario.login == @topico.usuario.login or |
            current_usuario.login == 'ADM' |          
              %b
                = link_to 'Editar tópico', edit_topico_path(@topico)
          
        - if @topico.created_at != @topico.updated_at
          %span.post-edit-msg
            Editado pela última vez em:
            - date = @topico.updated_at
            = "#{days_array[date.wday]}, "
            = date.strftime("%d/%m/%y")
            às
            = date.strftime("%R")

      - if @topico.usuario.assinatura != nil
        %div.assinatura
          %hr/
          %h5 
            %b Assinatura
          = @topico.usuario.assinatura
  %br/
  %br/

-# Cada página fica com 10 posts
- begin_index = (page_number-1) * 9
- begin_index += page_number - 2 if page_number > 1
- amount = (page_number > 1 ? posts_per_page : 9)

- count = begin_index
- posts_array = @posts.slice(begin_index, amount)

-# Cria um espaço para cada post
- posts_array.each do |post|
  %span{ id: "#{post.id}" }

  %div.post-wrapper
    -# Informações do postador
    %div.user-info
      %a.img-link{ href: usuario_path(post.usuario) }
        - if post.usuario.avatar.attached?
          = image_tag post.usuario.avatar, size: '125x125'
        - else
          - if post.usuario.login == 'ADM'
            - img_src = 'avatar.jpg'
          - else
            - img_src = 'newfag.jpg'

          = image_tag img_src, size: '125x125'

      %br/
      %b
        = link_to post.usuario.login, usuario_path(post.usuario)
      %br/
      = "Cadastro: #{post.usuario.created_at.strftime("%d/%m/%y")}"
      %br/
      = "Posts: #{post.usuario.topicos.count + post.usuario.posts.count}"
      %br/

    -# Post
    %div.user-post-space
      - if post.usuario.assinatura == nil
        - height = '100%'
      - else
        - height = '70%'

      %div.user-msg{ style: "height: #{height}" }
        %span.post-info
          - date = post.created_at
          = "#{days_array[date.wday]}, "
          = date.strftime("%d/%m/%y")
          às
          = date.strftime("%R")

          %span.post-right
            %span.post-rating
              - if current_usuario
                - user_rating = post.post_ratings.find_by(usuario_id: current_usuario.id)

                - if !user_rating
                  = form_with model: [@topico, post, PostRating.new], local: true do |form|
                    %input{type: 'hidden', name: :page, value: page_number}
                    
                    = form.button '+1', value: 1, name: 'post_rating[value]', class: 'no-rating'
                    = form.button '-1', value: -1, name: 'post_rating[value]', class: 'no-rating'

                - else
                  - rating_path = topico_post_post_rating_path(@topico,
                    post, user_rating,
                    post_rating: {value: (-1 * user_rating.value)},
                    page: page_number)

                  - if user_rating.value > 0
                    = button_to '+1', rating_path,
                      class: 'pos-rating',
                      method: :delete
                  
                    = button_to '-1', rating_path,
                      class: 'no-rating',
                      method: :patch

                  - else
                    = button_to '+1', rating_path,
                      class: 'no-rating',
                      method: :patch
                  
                    = button_to '-1', rating_path,
                      class: 'neg-rating',
                      method: :delete
              - else
                %button{ class: 'disabled-rating', disabled: true } +1
                %button{ class: 'disabled-rating', disabled: true } -1

              = "Total: "
              
              - sum = post.post_ratings.sum('value')
              - if sum < 0
                - b_class = 'neg-sum'
              %b{ class: b_class }= "#{sum}"


            - if post.usuario.login == @topico.usuario.login
              %span.post-op-tag
                OP
            %span.post-num
              = "##{count+2}"

        %hr/
        %div.msg-text
          = post.mensagem

        - if post.arquivo.attached?
          %br/
          = image_tag post.arquivo
          %br/

        -# Opções do post
        - if current_usuario
          %span.options
            %button{ class: 'quote-btn', data: { post: "#{post.id}", topico: "#{@topico.id}", msg: post.mensagem, author: post.usuario.login } }
              %b Citar mensagem

            = form_with scope: :denuncia, url: denuncias_path, local: true do |form|
              = form.hidden_field :denunciador, value: current_usuario.login
              = form.hidden_field :denunciado, value: post.usuario.login
              = form.hidden_field :tipo, value: 'post'
              = form.hidden_field :source_id, value: post.id
              = form.submit 'Denunciar'

            - if current_usuario.login == post.usuario.login or |
            current_usuario.login == 'ADM' |
              %b
                = link_to 'Editar', edit_topico_post_path(post.topico, post, page: page_number)
              %b
                = button_to 'Deletar', [post.topico, post],
                  method: :delete,
                  data: { confirm: 'Deletar post?' }

          - if post.created_at != post.updated_at
            %span.post-edit-msg
              Editado pela última vez em:
              - date = post.updated_at
              = "#{days_array[date.wday]}, "
              = date.strftime("%d/%m/%y")
              às
              = date.strftime("%R")

      - if post.usuario.assinatura != nil
        %div.assinatura
          %hr/
          %h5 
            %b Assinatura
          = post.usuario.assinatura
  %br/
  - count += 1

-# Botões das páginas
%div.left-align
  = render 'topicos/page_buttons', is_search: false, is_showing: true

%br/
-# Caixa de envio de posts
- if current_usuario
  %div.post-box#post-sending
    %p
      * Use [color] para colorir o texto. Ex: [color code=#ffffff]texto[/color]
      %br/
      * Use [link] para colocar links. Ex: [link ref=https://www.algumsite.com]texto[/link]
      %br/
      * Use [spoiler] para ocultar o texto. Ex: [spoiler]texto[/spoiler]
      %br/
      * Use [video] para embutir vídeos. Ex: [video ref=https://www.youtube.com/watch?v=algo]

    = form_with id: 'post-form', scope: :post, url: topico_new_post_path(@topico), local: true do |form|
      %table
        %tr
          %td.left
            %b
              = form.label :mensagem
          %td
            = form.text_area :mensagem, cols: 50, rows: 5, id: 'msg-box'
        
        %tr
          %td.left
            %b
              = form.label :arquivo
          %td
            = form.file_field :arquivo, style: 'display: none'
            %div.file-chooser
              Escolher arquivo

      - if @post && @post.errors.any?
        %br/
        %div.error
          - @post.errors.full_messages.each do |msg|
            = msg

      %br/
      %p
        = form.submit 'Enviar post'

- else
  Você precisa logar para enviar um post
  %br/
  %br/
