!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title nullZone
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag 'nz_icon.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{ class: "#{controller_name} #{action_name}"  }
    %div.text-center.center-box
      = yield

    %nav.top-bar
      %b
        = link_to 'nZ', main_path, class: 'block-links'
        = link_to 'USUÁRIOS', usuarios_path, class: 'block-links'
        - if current_usuario && current_usuario.login == 'ADM'
          = link_to 'DENÚNCIAS', denuncias_path, class: 'block-links'
      %span
        %span.search
          %form{ action: topicos_search_path, method: :get }
            %input{ type: 'search', name: :pesquisa, size: 37, placeholder: 'Pesquisar tópicos' }

        %b
          - if current_usuario
            %span
              %a.avatar-link{ href: usuario_path(current_usuario) }
                - if current_usuario.avatar.attached?
                  = image_tag current_usuario.avatar, size: '30x30'
                - else
                  - if current_usuario.login == 'ADM'
                    - image = 'avatar.jpg'
                  - else
                    - image = 'newfag.jpg'

                  = image_tag image, size: '30x30'
              Logado como:
              = link_to current_usuario.login, usuario_path(current_usuario)
              ,
              = link_to "SAIR", deslogar_path,
                method: :delete
          - else
            = link_to 'ENTRAR', logar_path, class: 'block-links'
            = link_to 'CADASTRO', new_usuario_path, class: 'block-links'
