!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title nullZone
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag       'favicon.ico'
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Titillium+Web&display=swap', media: 'all'
    = stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body{ class: "#{controller_name} #{action_name}"  }
    %div.banner
      = image_tag 'banner.png'

    %div.topbar
      %nav.topbar-left
        %button.toggle-sidebar
          %span.bar
          %span.bar
          %span.bar

        %a{ href: '/' } nZ

        %a{ href: users_path }
          %span
            %i.fas.fa-users
            USUÁRIOS

        - if current_user && current_user.login == 'ADM'
          %a{ href: complaints_path }
            %span
              %i.fas.fa-skull-crossbones
              DENÚNCIAS

          %a{ href: bans_path }
            %span
              %i.fas.fa-tools
              PAINEL DO ADMIN

      %div.topbar-right
        %form{ action: '#' }
          %input{ type: 'text', name: 'query', placeholder: 'Pesquisar' }
          %button
            %i.fas.fa-search

        - if current_user
          %div.logged-in
            %div
              %div.left
                %a{ href: user_path(current_user) }<
                  = set_avatar(current_user, size: 30)

              %div.right
                %div
                  Logado como
                  = succeed ',' do
                    = link_to current_user.login, current_user

                  = link_to logout_path, method: :delete do
                    SAIR
                    %i.fas.fa-power-off

        - else
          %nav
            %a{ href: login_path }<
              %span
                %i.fas.fa-sign-in-alt
                ENTRAR

            %a{ href: new_user_path }<
              %span
                %i.fas.fa-user-plus
                CADASTRO

    %div.sidebar-main-container
      %div.sidebar
        %div.header
          Seções

        %div.content
          %ul
            - @section_list.each do |section|
              %li
                = link_to section.name, section

      %div.main-content
        %div.main-wrapper
          = yield

        %div.footer
          pqowieurytçalskdjfhg;z.x,cmvnb ;)
